.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

*{
    margin: 0px;
    padding: 0px;
}

.primary-bg{
    background: rgba(255, 144, 14, 0.1);
}
.title{
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
}
p{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}
.btn{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}

.banner-container, main, footer{
    max-width: 1440px;
    margin: 0px auto;
}

main{
    margin-top: 70px;
}
/* navbar  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 0px;
}
.nav-ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav-ul a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
}

/* banner section  */
.banner h1{
    font-size: 4rem;
}
.banner p{
    width: 850px;
}
.banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    padding-bottom: 30px;
}
.banner img{
    width: 100%;
}


/* features section  */
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.features1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.feature-detail{
    max-width: 550px;
    gap: 50px;
}
.list-word{
    color: rgb(114, 114, 114);
}
.feature-word{
    color: rgb(255, 144, 14);
}
.feature-detail p{
    margin: 30px 0px;
}


/* features2 section  */
.feature-container h1{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
    margin-bottom: 20px;
}
.feature-box h4{
    color: rgb(19, 19, 19);
    font-size: 1.25rem;
    font-weight: 600;
}
.feature-box{
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
}
.feature-container{
    max-width: 50%;
}
.feature-img img{
    width: 100%;
}
.features2{
    margin-top: 130px;
    display: flex;
    gap: 140px;
}
.exp{
    padding: 45px 42px ;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    font-size: 4rem;
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;
    margin-left: -100px;
    margin-top: -150px;
}
.exp span{
    font-size: 1.56rem;
    font-weight: 500;
}


/* facts section  */
.fact-box{
    border: 2px solid rgb(255, 144, 14);
    border-radius: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fact-box div{
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact > p{
    width: 550px;
    margin: 30px 0px;
}
.fact{
    margin: 100px 0px;
}


/* sponsors section  */
.sponsors{
    text-align: center;
    margin-bottom: 200px;
}
.sponsors p{
    width: 550px;
    margin: 30px auto;
}

.sponsors img{
    filter: grayscale(100%);
}

.sponsors-img{
    display: flex;
    justify-content: space-between;
}

footer{
    text-align: center;
    padding: 40px;
    margin-bottom: 200px;
}





/* mobile responsive  */
@media screen and (max-width:575px) {
    header, main, footer{
        padding: 0px 20px;
    }

    nav{
        flex-direction: column-reverse;
        padding-top: 20px;
        gap: 20px;
        width: calc(100% - 40px);
    }
    
    p, .fact p, .sponsors p{
        width: 100%;
    }

    .features1, .features2{
        flex-direction: column;
        gap: 40px;
    }
    .team-img-container, .facts-container{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .feature-container{
        max-width: 100%;
    }
    .exp{
        margin: 0px;
    }
    .feature-img{
        text-align: center;
    }
    .fact-box{
        width: auto;
    }
    .sponsors-img{
        flex-direction: column;
        width: 50%;
        margin: 0px auto;
        gap: 20px;
    }
    .sponsors, footer{
        margin-bottom: 60px;
    }
}


/*Medium Device responsive  */
@media screen and (min-width:576px) and (max-width: 1200px) {
    header, main{
        padding: 0px 50px;
    }
    
    p, .fact p, .sponsors p{
        width: 100%;
    }

    .features1, .features2{
        flex-direction: column;
        gap: 40px;
    }
    .team-img-container, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .feature-container{
        max-width: 100%;
    }
    .exp{
        margin: -150px 0px 0px;
    }
    .feature-img{
        text-align: center;
    }
    .fact-box{
        width: auto;
    }
    .sponsors-img{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0px auto;
        gap: 20px;
    }
    .sponsors, footer{
        margin-bottom: 80px;
    }
    footer{
        max-width: 700px;
    }
}